<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/providers/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/providers/bookings']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-book"></i>&nbsp;{{ 'Bookings' | translate }}
        </a>
        <a [routerLink]="['/providers/inventory']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-history"></i>&nbsp;{{ 'Inventory' | translate }}
        </a>
        <a [routerLink]="['/providers/summary']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Inventory Summary' | translate }}
        </a>
        <a [routerLink]="['/providers/statistics']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Statistics' | translate }}
        </a>
        <a [routerLink]="['/providers/chat']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-search"></i>&nbsp;{{ 'Chat' | translate }}
        </a>
        <a [routerLink]="['/providers/ads']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Ads' | translate }}
        </a>
        <a [routerLink]="['/providers/search']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Search' | translate }}
        </a>
    </ul>
</nav>
