.chart-wrapper {
  canvas {
    width: 100% !important;
  }
}
// scss-lint:disable QualifyingElement
base-chart.chart {
  display: block !important;
}

.card-footer  a {
    cursor: default;
}

.card-footer .container ul li {
  color: gray;
  cursor: default;
  font-size: 12px;
}

.card-footer .container ul li strong {
  color: black;
  font-size: 12px;
}

.card-footer .container ul li em {
  color: #F0AD4E;
  font-size: 12px;
}

.card-footer .container ul li b {
  color: #5CB85C;
  font-size: 12px;
}

.card-footer .container ul li i {
  color: #D9534F;
  font-size: 12px;
}
