<div class="container" [@routerTransition]>
  <h2>User Profile</h2>
  <div class="container profile_container">
    <div class="row profile_display">
      <div class="col holder_profile">
        <img class="user_profile" src="../../assets/img/profile.jpg" alt="edit your picture">
        <br>
        <p><a routerLink= "/customers/info">back</a></p>
      </div>
      <input class="form-control" placeholder="Alias">
    </div>
    <br>
  </div>
  <h4>User Information</h4>
  <form role="form">
    <div class="container table_container">
      <table class="table table-sm data_holder">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Member Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>First Name:</td>
            <td><input class="form-control" placeholder="Enter First Name"></td>
            <td>2012/01/21</td>
            <td>
              <span class="badge badge-success">Active</span>
            </td>
          </tr>
          <tr>
            <td>Last Name:</td>
            <td><input class="form-control" placeholder="Enter Last Name"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>User Name:</td>
            <td>Lorem-ipsum.@gmail.com</td>
            <td></td>
            <td></td>

          </tr>
          <tr>
            <td>Email Address:</td>
            <td>Lorem-ipsum.@gmail.com</td>
            <td></td>
            <td></td>

          </tr>
          <tr>
            <td>Contact Number:</td>
            <td><input class="form-control" placeholder="Enter Contact Number Ex. +63 XXX XXX XXXX"></td>
            <td></td>
            <td></td>

          </tr>
          <tr>
            <td>Password Recovery Email:</td>
            <td><input class="form-control" placeholder="Enter Recovery Email Ex. john.delacruz@domain.com"></td>
            <td></td>
            <td></td>

          </tr>
          <tr>
            <td>Account Type:</td>
            <td>Customer</td>
            <td></td>
            <td></td>


          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
