<div [@routerTransition]>
  <div class="row">
    <div  class="col-4">
      <div class="chat-panel card card-default">
          <div class="card-header">
            <div class="row">
              <i class="fa fa-comments fa-fw"></i>
              <h5>Contacts</h5>
            </div>

              <div class="input-group">
                  <input #seachinput type="text" class="form-control input-sm" placeholder="Type the name here...">
                  <span class="input-group-btn">
                      <button class="btn btn-success btn-sm" id="btn-chat" (click)="searchbutton(seachinput.value)">
                          Search
                      </button>
                  </span>
              </div>
          </div>
          <!-- /.panel-heading -->
          <div class="card-block">
              <ul class="chat">
                  <ng-container *ngFor="let cItem of cItemList;let indx = index">
                    <citem [htmlvar]="cItem" [aleft]="true" [i]="indx" (click)="citemclicked(indx)" ></citem>
                  </ng-container>
              </ul>
          </div>
          <!-- /.card-body -->
        </div>
    </div>
    <div class="col-8">
      <app-chatobj [chatIDs]="actvchatgrp"></app-chatobj>
    </div>
  </div>
</div>
