<div [@routerTransition]>
  <div class="row" [@routerTransition]>
    <div class="col-12 text-right">
      <button type="button" class="btn btn-outline-success btn-sm" (click)="openModal(tmptmodalsuccess)">ADD</button>
      <button type="button" class="btn btn-outline-warning btn-sm" (click)="openModal(modalReload)">Reload</button>
    </div>

  </div>
  <div class="row" card-group>
    <ng-container *ngFor="let ctxvar of ctxvars;let indx = index">
      <div class="col-sm-4">
      <monstat [classObj]="ctxvar" [objIndx]="indx" (eventref)="childEvent($event)">></monstat>
      </div><!-- /.col-sm-4 -->
    </ng-container>
  </div><!-- row -->
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<ng-template #tmpltBkC let-ctvar="cardTitl" let-ccvar="cardContent" let-clvar1="classv1" let-clvar2="classv2" let-clvar3="classv3">
    <div class="col-sm-4">
        <div  [ngClass]="clvar1">
            <div [ngClass]="clvar2">
                {{ctvar}}
            </div>
            <div [ngClass]="clvar3">
                {{ccvar}}
            </div>
        </div>
    </div><!-- /.col-sm-4 -->
</ng-template>
<ng-template #tmptmodalsuccess>
  <div class="modal-success" role="document">
    <div class="modal-header">
      <h2 class="modal-title  pull-left">
        Enter Value
      </h2>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div> <!--modal-success -->
  <div class="modal-body">
    <div class="form-group">
      <div class="animated fadeIn">
        <div class="form-group">
          <label for="company">Name</label>
          <input type="text" class="form-control" id="inptName" placeholder="Enter name">
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #modalReload>
  <div  role="document">
    <div class="modal-header">
      <h2 class="modal-title  pull-left">
        Enter Filter Value
      </h2>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div> <!--modal-success -->
  <div class="modal-body">
    <div class="form-group">
      <div class="animated fadeIn">
        <div class="form-group">
          <label for="company">Name</label>
          <input type="text" class="form-control" id="inptName" placeholder="Enter name">
          <br>
          <button type="button" class="btn btn-outline-warning btn-sm" (click)="reloadMok()">Reload</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
