<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/customers/home" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>&nbsp;{{ 'Home' | translate }}
        </a>
        <a [routerLink]="['/customers/bookings']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-book"></i>&nbsp;{{ 'Bookings' | translate }}
        </a>
        <a [routerLink]="['/customers/history']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-history"></i>&nbsp;{{ 'History' | translate }}
        </a>
        <a [routerLink]="['/customers/chat']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Chat' | translate }}
        </a>
        <a [routerLink]="['/customers/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Notes' | translate }}
        </a>
        <a [routerLink]="['/customers/track']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-search"></i>&nbsp;{{ 'Track Someone' | translate }}
        </a>
    </ul>
</nav>
