<app-header></app-header>
<br>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
              <div class="row">
                <div class="col col-lg-8">
                  <h4>General</h4>
                </div>
                <div class="col col-lg-4" align="right">
                    <h5 class="fa fa-save" style="font-size:24px" (click)="onsaved()"> Save</h5>
                    <h5 class="fa fa-expand" style="font-size:24px" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Expand</h5>

                </div>
              </div>
            </div>
            <div class="card-block">
                <p>
                    <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                        Toggle
                    </button>
                </p>
                <div id="collapseExample" [ngbCollapse]="isCollapsed">
                    <div class="card">
                        <div class="card-block">
                            You can collapse this card by clicking Toggle
                        </div>
                    </div>
                </div>
            </div>
        </div><!--card mb-3"-->

        <div class="card mb-3">
            <div class="card-header">
              <div class="row">
                <div class="col col-lg-8">
                  <h4 (click)="bkflg = !bkflg">Categories</h4>
                </div>
                <div class="col col-lg-4" align="right">
                    <h5 class="fa fa-save" style="font-size:24px" (click)="onsaved_cat()"> Save</h5>
                    <h5 class="fa fa-expand" style="font-size:24px" (click)="bkflg = !bkflg"
                        [attr.aria-expanded]="!bkflg" aria-controls="bkflgcol">Expand</h5>
                </div>
              </div>
            </div>
            <div class="card-block" id="bkflgcol" [ngbCollapse]="bkflg">
              <div class="row">
                <div class="col col-lg-6">
                      <div class="card">
                          <div class="card-block">
                            <p>Product</p>
                              <textarea class="form-control" rows="3" [(ngModel)]='pCatModel'></textarea>
                          </div>
                      </div>

                </div>
                <div class="col col-lg-6">
                      <div class="card">
                          <div class="card-block">
                            <p>Services</p>
                              <textarea class="form-control" rows="3" [(ngModel)]='sCatModel'></textarea>
                          </div>
                      </div>
                </div>
              </div>
            </div>
        </div><!--card mb-3"-->

    </div>
</div>
