<div class="chat-panel card card-default">
    <div class="card-header">
        <i class="fa fa-comments fa-fw"></i>
        {{chatobjName}}
        <div class=" pull-right" ngbDropdown>
            <button class="btn btn-secondary btn-sm" ngbDropdownToggle>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li role="menuitem"><a class="dropdown-item" href="#">
                    <i class="fa fa-refresh fa-fw"></i> Refresh</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" href="#">
                    <i class="fa fa-check-circle fa-fw"></i> Available</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" href="#">
                    <i class="fa fa-times fa-fw"></i> Busy</a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-times fa-fw"></i> Busy
                    </a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-clock-o fa-fw"></i> Away
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#" class="dropdown-item">
                    <i class="fa fa-sign-out fa-fw"></i> Sign Out
                  </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="card-block">
        <ul class="chat">
            <ng-container *ngFor="let itmchtObj of prnthtmlvar;let indx = index">
              <itemchat [htmlvar]="itmchtObj"></itemchat>
            </ng-container>
        </ul>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <div class="input-group">
            <textarea #msginput type="text" rows="2" class="form-control input-sm" placeholder="Type your message here..."></textarea>
            <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" (click)="sendButton(msginput.value)">
                    Send
                </button>
            </span>
        </div>
    </div>
    <!-- /.card-footer -->
</div>
