<div *ngIf="renderflg">

  <div class="container" [@routerTransition]>
    <div class="user_tag mt-4">
      <p class="text-white">User Profile/Name</p>
    </div>
    <div class="container profile_container">
      <div class="row profile_display">
        <div class="col holder_profile">
          <img class="user_profile" src="../../assets/img/profile.jpg" alt="edit your picture">
          <br>
          <a routerLink="/providers/info/{{userinfo.id}}">click here to edit profile</a>
        </div>
        <div class="col name_tag">
          <p class="display-4">{{userinfo.description}}</p>
          <p>{{userinfo.accType}}</p>
        </div>
      </div>

    </div>
    <div class="container table_container">
      <table class="table table-sm data_holder">
        <thead>
          <tr>
            <th>User Information</th>
            <th></th>
            <th>Member Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>First Name:</td>
            <td>{{userinfo.fname}}</td>
            <td>2012/01/21</td>
            <td>
              <span *ngIf="userinfo.status" class="badge badge-success">Active</span>
            </td>
          </tr>
          <tr>
            <td>Middle Name:</td>
            <td>{{userinfo.mname}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Last Name:</td>
            <td>{{userinfo.lname}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>User Name:</td>
            <td>{{userinfo.username}}</td>
            <td></td>
            <td></td>

          </tr>
          <tr>
            <td>Email Address:</td>
            <td>{{userinfo.emailAddr}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Contact Number:</td>
            <td>{{userinfo.contactNum}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Status:</td>
            <td>{{userinfo.status}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Role:</td>
            <td>{{userinfo.role}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Subscription:</td>
            <td>{{userinfo.subsc}}</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
